{% extends "board/base.html" %}
{% block title %} Home {% endblock title %}

{% block content %}

<div class="columns is-desktop">
    <div class="column is-4 my-4 mx-2">
        <div class="box mx-2 my-4">
            <h2 class="title is-5 mt-4 mx-3">Form</h2>
            <div class="field px-4 py-2"> 
                <label class="label">Title</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Issue Title">
                </div>
              </div>

              <div class="field px-4 py-2">
                <label class="label">Description</label>
                <div class="control">
                  <textarea id="description" class="textarea" placeholder="Issue Description"></textarea>
                </div>
              </div>
              
              <div class="field px-4 py-2">
                <label class="label">Priority:</label>
                <div class="control">
                  <div class="select">
                    <select id="priority">
                        <option value="Low">Low Priority</option>
                        <option value="Medium">Medium Priority</option>
                        <option value="High">High Priority</option>
                    </select>
                  </div>
                </div>
              </div>
              
              
              <div class="field px-4 py-2">
                <div class="control">
                  <button class="button is-link is-fullwidth" onclick="addIssue()">Add Issue</button>
                </div>
              </div>
        </div>
    </div>
    <div class="column is-8 my-4 mx-2">
        <div class="box mx-2 my-4">
            <h2 class="title is-5 mt-4 mx-3">Issues</h2>

            <div class="card" id="issue-123456">
                <header class="card-header"  style="border-bottom: 1px solid #808080;">
                    <p class="card-header-title">
                        <span>Issue Title</span>
                    </p>
                    <span class="tag is-info my-4 mx-2 status">Open</span>
                    <span class="tag is-danger my-4 mx-2 is-light">High Priority</span>
                </header>
        
                <div class="card-content">
                    <div class="content">
                        Issue description goes here...
                        <br>
                        <div class="buttons mt-3">
                            <button class="button is-warning is-small is-responsive" onclick="changeStatus(123456)">
                                <i class="fas fa-sync-alt"></i> Change Status
                            </button>
                            <button class="button is-danger is-small is-responsive" onclick="deleteIssue(123456)">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



{% endblock content %}





